<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div class="d-flex" mat-dialog-content>
    <div class="selecao-idade">
      <app-selector-passageiro
        [formControl]="formBuscaService.obterControle('adultos')"
        titulo="Adultos"
        subtitulo="(Acima de 12 anos)"
      />
      <app-selector-passageiro
        [formControl]="formBuscaService.obterControle('criancas')"
        titulo="Crianças"
        subtitulo="(Entre 2 e 11 anos)"
      />
      <app-selector-passageiro
        [formControl]="formBuscaService.obterControle('bebes')"
        titulo="Bebês"
        subtitulo="(Até 2 anos)"
      />
    </div>
  </div>
  <h2>Categoria</h2>
  <div class="selecao-categoria">
    <p><strong>Categoria</strong></p>
    <mat-chip-listbox aria-label="Seleção de passagens">
      <mat-chip-option
        value="Econômica"
        [selected]="
          formBuscaService.formBusca.get('tipo')?.value === 'Econômica'
        "
        (selectionChange)="formBuscaService.alterarTipo($event, 'Econômica')"
      >
        Econômica
      </mat-chip-option>

      <mat-chip-option
        value="Executiva"
        [selected]="
          formBuscaService.formBusca.get('tipo')?.value === 'Executiva'
        "
        (selectionChange)="formBuscaService.alterarTipo($event, 'Executiva')"
      >
        Executiva
      </mat-chip-option>
    </mat-chip-listbox>
  </div>
  <button mat-flat-button color="primary">BUSCAR</button>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</section>
